__pycache__/
*.pyc
verification/csrc/blocks
verification/csrc/gen
verification/csrc/grid
verification/csrc/sa_roles
verification/csrc/tree
verification/csrc/tree_bd
verification/csrc/tree_fake
verification/csrc/tree_rk
verification/data/verify_all.repro.txt
verification/data/subrep/*.pt
preprints/*/build/*.aux
preprints/*/build/*.log
preprints/*/build/*.bbl
preprints/*/build/*.blg
preprints/*/build/*.toc
preprints/*/build/*.out
preprints/*/build/main.pdf
